<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jump.png</string>
            <key>size</key>
            <string>{8,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c482ff1985478d19ce40444995109ff:f4464f0f5a8c384ca963bbdc20a6fe38:9f2b93a6dfdd09b8f66aa3ab0849d73e$</string>
            <key>textureFileName</key>
            <string>Jump.png</string>
        </dict>
    </dict>
</plist>
