<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{25,0},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{50,0},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{75,0},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{100,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b149e671431ba29feeaa4dcd53556230:48c486250dad5ef1061dc60e4abde4b2:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
