<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{129,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{258,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{387,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_death.png</string>
            <key>size</key>
            <string>{516,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a59530698161e6436ab6c44eec08b238:95271ec94836075b66650ce9e15d0013:7a27d7b055241e7e7cdd794d0e4ef09d$</string>
            <key>textureFileName</key>
            <string>dragon_death.png</string>
        </dict>
    </dict>
</plist>
