<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_recover1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_recover2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{129,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_recover3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{258,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_recover.png</string>
            <key>size</key>
            <string>{387,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6af6af121edbf97cc4f67e4fddd4309:41643e97528d0a15ce4fdffda884feab:5268163ff761f43ca8f824606b550319$</string>
            <key>textureFileName</key>
            <string>dragon_recover.png</string>
        </dict>
    </dict>
</plist>
