<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{129,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,120}</string>
                <key>textureRect</key>
                <string>{{258,0},{129,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_attack.png</string>
            <key>size</key>
            <string>{387,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3687e08cd246fe368b6651da0bc9a08a:8c289f431de9b6d5e2001d7de55a207f:58cfc304b395d08c7224857dc5808cc1$</string>
            <key>textureFileName</key>
            <string>dragon_attack.png</string>
        </dict>
    </dict>
</plist>
